{% extends "layout.html" %}

{% block page_title %}Unauthorized{% endblock %}

{% block content %}
  <section style="padding-top: 20vh;">
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-stop"></i>
      </div>
      <p class="empty-title h3">401 Unauthorized</p>
      <p class="empty-subtitle">
        You are not allowed to sneak into sensitive places. Your safety is our
        at most concern.
      </p>
      <div class="empty-action">
        <a href="/" class="btn btn-primary">Return home safely</a>
      </div>
    </div>
  </section>
{% endblock %}

