{% extends "layout.html" %}

{% block page_title %}Page Not Found{% endblock %}

{% block content %}
  <section style="padding-top: 20vh;">
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-flag"></i>
      </div>
      <p class="empty-title h3">404 Page Not Found</p>
      <p class="empty-subtitle">The world is yours to explore. Never stop
        exploring.</p>
      <div class="empty-action">
        <a href="/" class="btn btn-primary">Go home for now</a>
      </div>
    </div>
  </section>
{% endblock %}

